@charset "UTF-8";
// Fonts
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900');
// Materialize-css
@import "~materialize-css/sass/materialize";
